<div class="row">
  <div class="page-header">
    <h1><%= @book.title %><small> Author: <%= @book.author %></small></h1>
  </div>

  <div class="col-md-6 offset3">
    <div class="thumbnail">
      <% if @book.img_url.present? %>
        <%= image_tag(@book.img_url) %>
      <% else %>
        Sorry, No image available.
      <% end %>
      <div class="caption">
        <h3><%= @book.title %></h3>
        <p><%= @book.description %></p>

        <p>
          <%#= link_to("Add to my booklist", "#", class: "btn btn-primary") %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add to my booklist
          </button>
        </p>

        <p>
          <%= simple_form_for(@review, url: add_review_kids_book_path(@book)) do |f| %>
            <%= f.label :comment, "Review" %>
            <%= f.input :comment, label: false %>
            <%= f.submit "Save", :disable_with => 'Submiting...', :class => "btn btn-success" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Reviews</h3>
    </div>
  </div>  

  <div id="reviews-wrapper"></div>
    <%= render partial: "reviews", collection: @reviews, as: :review %>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Book Lists</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@book, url: add_to_book_list_kids_book_path(@book), method: :post) do |f| %>
          <%= f.association :book_lists, as: :check_boxes, label_method: :title  %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Add", class: "btn  btn-primary" %>
      </div>
      <% end %>  
    </div>
  </div>
</div>