<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <% if current_user %>
        <%= link_to("Book.Me", kids_root_path, :class => "navbar-brand") %>
      <% else %>
        <%= link_to("Book.Me", root_path, :class => "navbar-brand") %>
      <% end %>

    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("Books", "#") %></li>
      <li><%= link_to("Friends", "#") %></li>
      <li class="dropdown">

        <% if current_user %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Log Out", destroy_user_session_path, :method => :delete ) %></li>
            <li class="divider"></li>
          </ul>
        
        <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Sing Up", new_user_registration_path ) %></li>
            <li class="divider"></li>
            <li><%= link_to("Sign In", new_user_session_path ) %></li>
            <li></li>
          </ul>
        <% end %>

      </li>
    </ul>
  </div>
  <% if current_user && current_user.point != 0 %>
  <% if current_user.point.to_f <= 90 %>
    <% percent = current_user.point.to_f %>
  <% else %>
    <% percent = 90 %>
  <% end %>

    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= "#{percent}%" %>">
        Go Go Go! You have <%= current_user.point %> points now!
      </div>
    </div>
  <% end %>

</div>
